* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #BDE7C2;
}

header {
    width: 100%;
    height: 50px;
    background-color: #C4C4C4;
    position: relative;
}

header > img {
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
}